<p>
  <mat-toolbar>
    <span>Facebook</span>
    
  </mat-toolbar>
</p>


<div class="div1">
<h4>SIGN UP</h4> 
<br>
<h2>Create your account</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
<form action="">

  <mat-form-field class="example-full-width">
    <mat-label>FirstName</mat-label>
    <input matInput placeholder="FirstName" value="">
  </mat-form-field>
  <br>  
  <mat-form-field class="example-full-width">
    <mat-label>LastName</mat-label>
    <input matInput placeholder="LastName" value="">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Email Address</mat-label>
    <input matInput placeholder="email" value="">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label>password</mat-label>
    <input type="password" matInput placeholder="password" value="">
  </mat-form-field>
  <br>
  <button type="button" class="block">Button</button>

  <br>

</form>
</div>